:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

em { font-style: normal; }

.font-logo { font-family: "Science Gothic", sans-serif; }
.font-logo-sub { font-family: "Playwrite NZ Guides", cursive; }